<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/bootstrap.min.css" rel="stylesheet" >
    <link href="../css/custom/style.css" rel="stylesheet" >

    <title>Document</title>
</head>

<body class="p-4">

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Danilo</td>
        <td>De Cave</td>
        <td>danilo.decave@outlook.it</td>
        <td>
            <button type="button" class="btn btn-danger">Elimina Utente</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Selene</td>
        <td>Ruscitto</td>
        <td>selene.ruscitto@gmail.com</td>
        <td>
            <button type="button" class="btn btn-danger">Elimina Utente</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Matteo</td>
        <td>De Cave</td>
        <td>matteo.decave@outlook.it</td>
        <td>
            <button type="button" class="btn btn-danger">Elimina Utente</button>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Simone</td>
        <td>Ruscitto</td>
        <td>simone.ruscitto@gmail.com</td>
        <td>
            <button type="button" class="btn btn-danger">Elimina Utente</button>
        </td>
      </tr>
    </tbody>
  </table>

    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap.esm.min.js"></script>
   
</body>
</html>
