<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" >
    <link href="../assets/css/bootstrap-grid.min.css" rel="stylesheet" >
    <link href="../assets/css/bootstrap-reboot.min.css" rel="stylesheet" >
    <link href="../assets/css/bootstrap-utilities.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="../assets/css/custom/style.css" rel="stylesheet" >

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body class="p-4">

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">email</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Danilo</td>
        <td>De Cave</td>
        <td>danilo.decave@outlook.it</td>
        <td>
            <button type="button" class="btn btn-danger">Elimina Utente</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Selene</td>
        <td>Ruscitto</td>
        <td>selene.ruscitto@gmail.com</td>
        <td>
            <button type="button" class="btn btn-danger">Elimina Utente</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Matteo</td>
        <td>De Cave</td>
        <td>matteo.decave@outlook.it</td>
        <td>
            <button type="button" class="btn btn-danger">Elimina Utente</button>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Simone</td>
        <td>Ruscitto</td>
        <td>simone.ruscitto@gmail.com</td>
        <td>
            <button type="button" class="btn btn-danger">Elimina Utente</button>
        </td>
      </tr>
    </tbody>
  </table>

    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap.esm.min.js"></script>
   
</body>
</html>
