body{
    background-color: #b7b7b733
}

.navbar .container-fluid a{
    color: white !important;
}

.searchbar{
    width: 40%;
}

.bi{
    color: #ffff;
}

.bi-bell-fill,
.bi-envelope-fill,
.bi-person-circle{
    font-size: 1.2rem;
}

.main-container{
    padding-left: 0;
    height: 100vh;
    position: relative;
}

.left-side{
    position: sticky;
    top:0;
    left: 0;
    width: 20%;
}

.btn-nav{
    color: #3333;
    margin: 0 40px;
    list-style: none;
    font-size: 0.88rem;
}

.btn-nav img{
    width: 20px;
    height: auto;
}

.btn-nav:hover{
    color: #3333;
    cursor: pointer;
}

footer{
    height: 100px;
}





@media screen and (max-width: 768px){
    .searchbar{
        width: 90%;
    }
    
}